.temp {
  font-size: 60px;
  color: RGB(250, 213, 79);
  font-weight: 600;
}

.more_details {
  margin-bottom: 10px;
  font-weight: 600
}

.container {
  /* padding: 25px; */
}

.city {
  font-size: 18px;
}

.date {
  font-size: 12px;
  font-weight: 600;
}

.feels_like {
  font-size: 18px
}