.temp {
  padding-left: 10px;
  margin-bottom: 5px;
  color: white;
}

.hour {
  padding-left: 10px
}

.container {
  padding: 25px;
  /* border-top: solid white 1px; */
}

.paper {
  background-color: rgba(50,50,50,0.2) !important;
}