.container {
  height: 100%;
  min-height: 600px;
}

.wrapper {
  background-image: url(/img/weather/mist.png);
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-width: 100vw;
  min-height: 100vh;
  padding: 25px;
}

.form {
  min-height: 250px;
}